/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.profile-card {
  width: 580px;        /*kicsit szélesebbre vettem*/
  max-width: calc(100vw - 40px);
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, 0.9) 10px 10px 80px;
}

body {
  font-family: Tahoma, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('assets/mb-207.jpg') no-repeat center center fixed;
  background-size: cover;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}

.content, .links {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}

 .about, .head {
  margin-bottom: 3%;
}

.content {
  padding: 3%;
}

/* Profile image */

img {
  width: 140px;
  height: 140px;
  border-radius: 5%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(40%);
  transition: all 0.5s ease-in-out;
}

.profile-image {
  margin-top: -70px;
}

img:hover {
  filter: grayscale(20%);
  transform: scale(1.7);
}

/* headers, paragraphs, misc */

h1 {
  text-transform: uppercase;
  font-size: 30px;
}

h2 {
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 5px;
}

p {
  font-weight: normal;
  font-size: 20px;
}

/* Contact links */

a {
  color: hsla(258, 94%, 48%, 0.767);
  text-decoration: none;
}

a:hover {
  color: rgb(73, 68, 68);
}

.links {
  padding:20px;
  }